body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4389a25c;
  flex-direction: column;
  overflow-x: hidden;
}

#marquee {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  padding: 5px;
  -moz-animation: marquee 100s linear infinite;
  -webkit-animation: marquee 100s linear infinite;
  animation: marquee 100s linear infinite;
  animation-fill-mode: both;
  width: 100%;
  padding: 0px;
}

#marquee:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

li {
  list-style-type: none;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  min-width: 180px;
  background-color: #4389a2e9;
  padding-left: 6px;
  padding-right: 6px;
}

#marquee div {
  min-width: 200px;
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-500%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-500%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-500%);
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
}

h2 {
  margin-top: 20px;
  font-size: xx-large;
  color: #4389a2e9;
}

#container-search {
  height: 95%;
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 5%;
  border-radius: 90px;
  padding-bottom: 20px;
}

#form {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 10px;
}

#input-search {
  border: 1px solid #4389a25c;
  border-radius: 50px;
  min-width: 50%;
}
#input-search::placeholder {
  padding-left: 20px;
}
#input-search:focus {
  padding-left: 20px;
}

#search-button {
  border: 1px solid #4389a25c;
  border-radius: 50px;
  background-color: white;
  color: #4389a2a7;
}
#search-button:hover {
  background-color: #4992af5c;
  border: #4992af5c;
  color: #ffffffa7;
}
#search-button:active {
  background-color: #2550615c;
  border: #2550615c;
  color: #ffffffa7;
}

#spinner {
  display: none;
}
#spinner.show {
  display: block;
  color: #4389a25c;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3px;
}

a {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  text-decoration: none;
}

img {
  height: 3rem !important;
  border-radius: 50px;
}

.mt-5 {
  margin-bottom: 3rem !important;
}

.positive-percentage {
  color: green;
}

.negative-percentage {
  color: red;
}

#marquee .positive-percentage {
  color: green;
  background-color: #7fbad0e9;
  border-radius: 50px;
  padding-left: 4px;
  padding-right: 4px;
}

#marquee .negative-percentage {
  color: red;
  background-color: #7fbad0e9;
  border-radius: 50px;
  padding-left: 4px;
  padding-right: 4px;
}

.zero-percentage {
  color: black;
}
